.blog {
    padding: 105px;
    padding-bottom: 210px;
    background: #F5F8FF;

&__inner {
    margin-bottom: 92px;
}

&__subtitle {

@include text (10px, 500, 12px,#3D4F9F);
font-family: 'Roboto';
letter-spacing: 0.1em;
text-transform: uppercase;
margin-bottom: 20px;

}

&__title {
    @include text (24px, 500, 30px,#3D4F9F);
    font-family: 'Quicksand';
    text-align: center;
}

&__card {
    background: #FFFFFF;
    border: 1px solid #D8E3FE;
    box-shadow: 0px 15px 50px #EFF4FF;
    max-width: 958px;
    width: 100%;
}

&__wrapper {
    padding: 63px 35px 63px 41px;
    flex-wrap: wrap;
    @media screen and (max-width: 1220px) {
        justify-content: center;
    }
}

&__list {
    column-gap: 12px;
}

&-img {
    object-fit: cover;
    border-radius: 5px;
}
&-img--big {
    width: 267px;
    height: 267px;
}
&-img--sm {
    width: 127px;
    height: 126px;
}
&-img--sm:first-child {
    margin-bottom: 14px;
}
&-pic {
    margin-right: 13px;
}

&__content {
    max-width: 408px;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}


&__heading {

font-family: 'Quicksand';
@include text (36px, 400, 45px,#3D4F9F);
margin-bottom: 23px;

}

&__text {

font-family: 'Roboto';
@include text (14px, 400, 27px,#8D96BD);
letter-spacing: 0.03em;
margin-bottom: 45px;
}

&__btn {
    font-size: 13px;
    line-height: 16px;
    border-radius: 2px;
    font-family: 'Quicksand', sans-serif;
    height: 43px;
    &--blue {
        width: 113px;
        color: #3A79FF;
        background-color: #D2E1FF;
        border: none;
    }
    &--white {
        width: 211px;
    }
}

}