.customers {

    &__logos {
        padding: 58px 0 58px 0;
    }

    &__wrapper {
        max-width: 945px;
    }

    &__item {
    fill: #D6DAE5;
        &:hover {
            fill:#5982E7;
        }
    }

}