.menu {

    &__list {
        margin-left: 73px;
    }

    &__link {
        font-family: 'Quicksand', sans-serif;
        @include text (12px, 500, 15px, #697CA6);
        letter-spacing: 0.05em;
    }
}