.header {
    .header {
        &__container {
            padding-top: 20px;
            max-width: 1205px !important;
        }

        &__logo {
            width: 26px;
            height: 26px;
            background: #5E81FE;
            border-radius: 50%;
        }
        &__btn {
            @include text (13px, 700, 16px, #3A79FF);
            font-family: 'Quicksand', sans-serif;
            background-color: #D2E1FF;
            border-radius: 2px;
            width: 113px;
            height: 43px;
            text-align: center;
            outline: none;
            margin-left: 45px;
        }

        &__social {
                gap: 35px;
        }

        &__icon {
            fill: #B6BAC7;
            width: 19px;
            height: 17px;
        }
        &__icon:hover {
            fill: #3A79FF;
        }


    }
}